<div class="container">
    <div class="card">
        <div class="card-body">
            <form  (ngSubmit) = "saveRecherche()" [formGroup]="rechercheForm">
                <div class="form-row">
                    <div class="col-md-4 mb-3" >
                        <select class="form-control" formControlName ="depart">
                            <option value="">Votre départ</option>
                            <option *ngFor = "let villeDepart of villes" [ngValue] = "villeDepart">{{villeDepart}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-control" formControlName ="destination">
                            <option value="">Votre destination</option>
                            <option *ngFor = "let villeDestination of villes" [ngValue] = "villeDestination">{{villeDestination}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" [disabled] ="!rechercheForm.valid"> Rechercher</button>
                </div>
            </form>
        </div>
    </div>
</div>

<p>Dirty: {{ rechercheForm.dirty }}</p>
<p>Pristine: {{ rechercheForm.pristine }}</p>
<p>Valid: {{ rechercheForm.valid }}</p>
<p>InValid: {{ rechercheForm.invalid }}</p>
<p>Value:</p>
<pre>{{ rechercheForm.value | json }} </pre>
